{% extends 'base.html.twig' %}

{% block content %}
	<section class="header-section-contact">
		<h1>{{ content.title }}</h1>
		<h2>{{ content.subtitle }}</h2>
		<div>
			{{ content.article | raw }}
		</div>
	</section>
	{{ component('Alert') }}
	<section class="section-map">
		<h3>{{ content.adresse }}</h3>
	</section>
	<section class="section-take-contact">
		<div>
			{{ content.takeContact | raw }}
		</div>
	</section>
{% endblock %}
