{% extends 'base.html.twig' %}

{% block content %}
	<section class="section-home">
		<h1 class="header-home-h1">{{ content.title }}</h1>
		<div class="header-section">
			<div class="left-content">
				<img class="shadow-img" src="{{ content.logo.thumbnails['1024x'] }}">
			</div>
			<div class="right-content">
				<h2>{{ content.subtitle |raw}}</h2>
				<div class="div-content">
					{{ content.article|raw }}
				</div>
				<div class="div-button">
					<a href="/" class="button-contact">Contact
						<span class="icon-next">></span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<span class="separator">_-_-_-_--_-_</span>

	<section class="section-home">
		{% for image in content.carousel %}
			<img src="{{ image.thumbnails['400x'] }}" alt="{{ image.title }}" title="{{ image.description|default(image.title) }}">
		{% endfor %}
	</section>
{% endblock %}
