{% extends 'base.html.twig' %}

{% block content %}
	<section class="section-portefolio">
		<h1 class="header-portefolio-h1">{{ content.title }}</h1>
		<div>
			{{ content.article | raw }}
		</div>
		<div class="div-imgs">
			Liste d'images
			{% for image in content.list_img %}
				<img src="{{ image.thumbnails['400x'] }}" alt="{{ image.title }}" title="{{ image.description|default(image.title) }}" class="d-block w-100">
			{% endfor %}
		</div>
	</section>
{% endblock %}
