<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block meta %}
			{{ include('@SuluWebsite/Extension/seo.html.twig', {
            seo: extension.seo|default([]),
            content: content|default([]),
            localizations: localizations|default([]),
            shadowBaseLocale: shadowBaseLocale|default(),
        }) }}
		{% endblock %}

		{% block style %}{% endblock %}
	</head>
	<body>
		<header>
			{% block header %}
				<nav>
					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

					<div class="topnav" id="myTopnav">
						<a href="{{ sulu_content_root_path() }}" class="active">Home</a>
						<a href="#news">News</a>
						<a href="#contact">Contact</a>
						<a href="#about">About</a>
						<a href="javascript:void(0);" class="icon" onclick="myFunction()">
							<i class="fa fa-bars"></i>
						</a>
					</div>
					{#<ul>
						{% for item in sulu_navigation_root_tree('main') %}
							<li>
								<a href="{{ sulu_content_path(item.url, item.webspaceKey) }}" title="{{ item.title }}">{{ item.title }}</a>
							</li>
						{% endfor %}
					</ul>#}
				</nav>
			{% endblock %}
		</header>

		<form action="{{ path('sulu_search.website_search') }}" method="GET">
			<input name="q" type="text" placeholder="Search"/>
			<input type="submit" value="Go"/>
		</form>

		<main>
			{% block content %}{% endblock %}
		</main>

		<footer>
			{% block footer %}
				<p>Copyright
					{{ 'now'|date('Y') }}
					SULU</p>
			{% endblock %}
		</footer>

		{% block javascripts %}{% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
	</body>
</html>
